*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(127deg,#64e8de,#8a64eb); */
    background-image: url("images/pexels-lumn-167699.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
hr{
  border: 1px solid rgb(0,0, 0,0.2);
}
.container{
  width: 70%;
  height: 88vh;
  border: 1px solid rgba(61, 44, 44, 0.18);
  border-radius: 16px;
  padding: 15px;
  background-color:rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* rgba(255, 255, 255, 0.5) */
}
.containerWrapper{
  display: flex;
  width: 100%;
  height: 90%;
}
.topBar{
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  /* font-family: 'Lobster', cursive; */
}
.leftTopBar{
  flex: 6;
 
}
.rightTopBar{
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding:10px 10px 0 0;
 
}
.playListBtn{
  display: none;
  background: transparent;
  border: none;
  height: 30px;
  width: 30px;
  border-radius:10px;
}
.playListBtn>svg{
  transform: scale(1.1);
}
.playListBtn:active{
  background-color: #b6b6b6;
}
.firstLetter{
  font-family: 'Lobster', cursive;
  text-shadow:0px 5px 5px rgba(88, 88, 88, 0.23);
   font-weight: 700; 
  font-size: 25px;
  margin-right: -4px;
  color:rgba(97, 31, 31, 0.56) ;
  /* rgb(154, 156, 154) */
}
.othersLetters{
  font-family: 'Lobster', cursive;
  text-shadow:0px 5px 5px rgba(88, 88, 88, 0.23);
  font-weight: 500; 
  font-size: 25px;
  margin: 0 -8px 0 5px;
  color:rgba(230, 125, 112, 0.966) ;
  /* rgb(131, 131, 18) */
}

.leftWrapper{
  flex: 5;
  padding: 10px;
  margin-right:10px ;
}
.rightWrapper{
 flex: 7;
 padding: 10px;
}
.diskWrapper{
  height: 55%;
  margin-bottom: 10px;
}
.diskCenter{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(194, 190, 190);

}
.diskWrapper,.addMusic,.musicOption,.disk,.audioControl,.diskCenter,.controls,.mainControls{
  display: flex;
  justify-content: center;
  align-items: center;
}
.disk{
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 2px 5px 5px rgba(65, 63, 63, 0.18);
  animation: diskRotation 22s infinite linear;
  animation-play-state: paused;
}
@keyframes diskRotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}
.innerDot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}
.musicName,.audioControl,.sliderWrapper,.Description,.leftWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.musicName{
  margin-top: -15px;
  margin-bottom: 25px;
  width: 100%;
  position: relative;
}
.musicName > button{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  margin: auto 0;
  top: 25%;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.23);
  fill: rgba(255, 255, 255, 0.82);
  cursor: pointer;
  
}
.musicName>div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  /* padding-left:25px ; */
  overflow: hidden;
}
.songName{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 21px;
  font-weight: 500;
  color: #352828;
  width: 100%;
  /* animation: songname 12s linear 0s infinite alternate ; */
}
@keyframes songname {
  0%,25%{
     transform:translateX(0%) ;
     left: 0%;
  }75%,100%{
     transform: translateX(-100%);
     left: 100%;
  }
}
.artistName{
  font-size: 18px;
  margin-top: 6px;
  font-weight: 300;
  color: #4b4141;
}
/* controls */
.audioControl{
  justify-content: space-between;
  gap: 20px;
  width: 95%;
 
}
.Description.controlsDesc{
  display: none;
}
.sliderContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  
}
.nameControlContainer{
  width: 100%;
}
.progressbarWrapper{
  width: 100%;
  height: 5px;
  display: flex;
  background-color: rgba(255, 255, 255,0.8);
  box-shadow: inset 2px 2px 5px rgba( 0, 0, 0, 0.23), inset -2px 2px 5px rgba( 255, 255, 255, 0.23);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.sliderWrapper{
  width: 100%;
  display: flex;
  align-items: center;

  /* outline: 2px solid red; */
}
.progress{
  width:70%;
  height: 5px;
  position: relative;
  border-radius: 10px;
  background-image:linear-gradient(90deg, rgba(97, 31, 31, 0.56), rgba(230, 125, 112, 0.966)) ;
}
.progress::before{
  content: "";
  /* display: none; */
  width: 12px;
  height: 12px;
  border: none;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #f08484;
  cursor: pointer;
}

.slider{
  /* -webkit-appearance: none;
  appearance: none; */
  width: 85%;
  height: 3px;
  border-radius: 10px;
  /* background: #7fc8a9; */
  margin: 5px 0 0px 0;
  overflow: hidden; 
  cursor: pointer;
}
/* .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  z-index: 999;
  width: 10px;
  height: 20px;
  background-color: red;
  box-shadow: 400px 0 400px #76df06;
} */
/* .slider::-webkit-slider-thumb:hover{
  width: 10px;
  height:10px
} */
.slider:hover{
  height: 5px;
  overflow: none;
}
.musicTimeWrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin:5px 2% 7px 0;
}
.currentTime{
  margin: -3px 0 0 0;
  padding: 0 0 5px 0;

}
.time{
  font-size: 13px;
  font-weight: 500;
  color: #4b4141;
}
.time:nth-child(4),.time:nth-child(2),.time:nth-child(6),.time:nth-child(8),.time:nth-child(10){
  color: black;
  margin: 0 2px;
}
.currentTime>.time.colon{
  margin: 0 -2px;
}
.controls{
   justify-content: space-between;
   gap: 35px;
}
/* {
  width: 25px;
  height: 26px;
} */
.mainControls{
  width: 40px;
  height: 40px;
  margin-top:-10px ;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
  fill: #00000094;
  cursor: pointer;
}
.mainControls:hover{
  background-color: rgba(0, 0, 0, 0.24);
  fill:rgba(0, 0, 0, 0.78) ;
  transform: scale(1.13);
}
.previousIcon{
  transform: rotate(180deg);
}
.mainControls svg{
  width: 20px;
  height: 20px;
}
.mainControls.play{
  transform: scale(1.3);
}
.otherControls{
  width: 30px;
  height: 30px;
  /* fill: #94414f; */
}
.Description{
 padding: 15px;
 justify-content: space-between;
 gap: 15px;
}
.copyRight{
  font-weight: 300;
}
.madeBy{
  font-weight: 400;
}
svg{
  width: 20px;
  height: 20px;
}
/* The Right Side */
.rightWrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
.musicContainer{
  list-style: none;
  -webkit-position:sticky;
  position: sticky;
  height:97%;
  width: inherit;
  padding: 0;
  top: calc(100% - 30px);
  overflow-y: scroll;
  margin-top: 10px;
}
.playListTitle{
  font-size: 22px;
  border-radius: 10px;
  padding: 5px 7px;
  width: 30%;
  background-color: rgba( 255, 255, 255, 0.4);
 }
.musicWrapper{
  display: flex;
  align-items: center;
  width: 98%;
  height: 65px;
  background-color: rgba( 255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: 90ms ease-in;
}
.musicWrapper:active{
  transform: scale(0.99);
  background-color: rgba( 255, 255, 255, 0.4);
}
.addMusic{
  width:40px;
  height: 40px;
  position:absolute;
  top: 90%;
  right: 8%;
  z-index: 999;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba( 255, 255, 255, 0.4);
}
.addMusic:hover{
  transform: scale(1.1);
  background-color:rgba( 255, 255, 255, 0.6) ;
}
.addMusic>svg{
  --tint:rgba(0,0,0,0.63);
  fill:var(--tint);
  stroke:var(--tint);
}
.musicArtistWrapper{
  flex: 8;
  display:flex;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}
.musicDescription{
  font-size: smaller;
  margin-top: 5px;
  font-weight: 400;
}
.musicMenu{
  flex: 2;
}
.musicImgWrapper{
  flex: 2;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.musicImgWrapper>img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;

}
::-webkit-scrollbar{
  appearance: none;
  width: 7px;
  height: 100%
}
::-webkit-scrollbar-track{
  background-color:rgba( 255, 255, 255, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color:rgba( 0, 0, 0, 0.2);
  border-radius: 10px;
}

.musicTitle{
  font-weight: 500;
  width: 100%;
  color: rgb(41, 41, 41);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.musicLength{
  margin-left: 2px;
  font-size: small;
  font-weight: 500;
}
.musicMenu{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.musicOption{
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}
.musicOption>svg{
  fill: rgba( 0, 0, 0, 0.8);
}
.musicOption>svg:hover{
  fill: #494949;
}
.musicOption:hover,.musicOption:active{
  background-color: rgba( 255, 255, 255, 0.4);
}
.musicContainer .playing{
  color: #501d1d;
}
 .playingNow{
  color:#8f0e0e ;
}
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 3s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .5s;
}

.bar:nth-child(3) {
  animation-delay: .2s;
}
.currentTime .time:nth-child(4){

  margin: 0 -1px;
}
@keyframes scale-up4 {
  20% {
    background-color: #f05555;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
/* and(min-width:768px) */


@media only screen and (max-width:979px) and (min-width:768px){
  .disk{
  width: 12rem;
  height: 10rem;
  border-radius: 10%;
  animation: none;
  margin-left: 10%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.247);
}
.diskCenter{
  display: none;
}
.diskWrapper{
  height: 100%;
  padding: 10px 0 0 0;
}
.topBar{
  height: 0.5rem;
  margin:0 0 1.5rem 0;
  
}
.firstLetter,.othersLetters{
  text-shadow:0px 5px 5px rgba(88, 88, 88, 0.23);
}
.container{
  width: 94%;
  height: 97%;
  margin: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.containerWrapper{
  display: flex;
  
}
.Description,.others{
  display: none;
}
.leftWrapper{
 flex-direction: row;
}
.rightWrapper{
  height: 80%;
}
.musicContainer{
  width: 98%;
  height: 92%;
  top: 0;
}
.addMusic{
  top: 90%;
  right: 10%;
}
.playListTitle{
  margin-bottom: 1.5rem ;
}
.containerWrapper{
  flex-direction: column;
}
.nameControlContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 90%;
  padding: 0;
  border-radius: 20px;
  margin-left:3%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba( 255, 255, 255, 0.55);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

}
.musicName>div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.musicName{
  margin-top: .5%;
}
.musicName> button{
  top: 50%;
  left: 5%;
}
.songName,.artistName{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.songName{
  font-size: 1.5rem;
  margin-left: 0;
}
.artistName{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-left: 0;
}
hr{
  margin:10px 0;
}
.musicTimeWrapper{
padding: 0;
}
.time.slash{
  display: none;
}
.currentTime{
  width: 100%;
  margin-left: 5px;
}
.currentTime .time:nth-child(4){

  margin: 0 -1px;
}
.controls{
  margin: -1.2rem 0 1rem 2rem;
}
.audioControl{
  margin: 0;
  padding: 0;
}
.mainControls.play{
  transform: scale(1.4);
}
}


@media screen and (max-width:767px) {
  .firstLetter,.othersLetters{
    font-size: 2.5rem;
  }
  .progressbarWrapper{
    width: 100%;
  }
  .rightTopBar>button>svg{
    width: 2rem;
    height: 2rem;
    }
  .container{
    width: 100%;
    height: 97%;
    margin: 0;
    padding-bottom: 0;
   border-radius: 0;
   
  }
  .containerWrapper{
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 10;
  }
  .rightWrapper{
    display: var(--rightWrapperDisplay);
  }
  .playListBtn{
    display: block;
  }
  .disk{
    height: 25rem;
    width: 25rem;
  }
  .diskCenter{
    height: 5rem;
    width: 5rem;
  }
  .innerDot{
    height: 2rem;
    width: 2rem;
  }
  .nameControlContainer{
    
    width: 100%;
    height: 30%;
    
  }
  .mainControls{
   width: 3.5rem;
   height: 3.5rem;
  }
  .audioControl{
    gap: 2rem;
  }
  .mainControls>svg{
    height: 1.7rem;
    width: 1.7rem;
  }
  .songName{
    font-size: xx-large;
  }
  .artistName{
    font-size: large;
  }
  .time{
    font-size: large;
  }
  .currentTime{
    width: 100%;
    margin-left: 5px;
  }
  .time.slash{
    display: none;
  }
  .musicName>button{
    height: 3rem;
    width: 3rem;
  }
  .musicName>button>svg{
    width: 1.5rem;
    height: 1.5rem;
  }
}


@media screen and (max-width:480px){
  /* body{
    height: 90em;
  } */
  .topBar{
    margin-bottom: 10px;
  }
  .playListTitle{
    font-size: medium;
  }
  .playListBtn{
    display: block;
  }
.rightTopBar>button>svg{
    width: 2rem;
    height: 1.6rem;
  }
  .firstLetter,.othersLetters{
    font-size: 1.8rem;
  }
  .container{
    width:100%;
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    border-radius: 0;
    overflow: hidden;
  }
  .rightWrapper{
    --rightWrapperDisplay:none;
    display: var(--rightWrapperDisplay);
    flex: 1;
    width:94%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
  }

  .musicContainer{
    display: block;
    width: 100%;
  }
  .musicImgWrapper{
    transform: scale(.7);
  }
  .musicTimeWrapper{
    height: 20%;
    display: flex;
  }
  .musicTitle{
    font-size: .8rem;
  }
  .musicDescription,.musicLength{
    font-size: .7rem;
  }
  .musicWrapper{
    height: 2.5rem;
  }
  .loader{
    transform: scale(.6);
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .leftWrapper{
    display: block;
    width: 100%;
    height: 100%;
    flex: 11;
    margin: 1rem 0;
    padding: 0;
    overflow: hidden;
  }
  .diskWrapper{
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .disk{
    animation: none;
    border-radius: 10px;
    width: 96%;
    height:90% ;
    background-size: cover;
    background-position: center;
  
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.247);
  }
  .diskCenter{
    display: none;
  }
  .nameControlContainer{
    /* outline: 2px solid red; */
    display: flex;
    padding: 10px 0;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
    height: 44%;
    background-color:rgba(0, 0, 0, 0.47);
    -webkit-backdrop-filter: blur(11.5px);
    backdrop-filter: blur(11.5px);
    box-shadow: 0 5px 5px rgba(104, 103, 103, 0.47);
  }
  .musicName{
    margin: 0 0 5% 0;
    flex: 2;
    
  }
  .audioControl{
   flex: 10; 
   display: flex;
  
  }
  .Description.controlsDesc{
    display: flex;
    margin-bottom: 6%;
    color: rgb(231, 213, 219);
  }
  .musicName>button{
    top: 45%;
    width: 2rem;
    height: 2rem;
  }
  .songName,.artistName,.time,.time.colon{
    color: white;
  }
  .songName{
    font-size: large;
  }
  .artistName{
    font-size: medium;
  }
  .currentTime{
    width: 100%;
    margin-left: 5px;
  }
  .time{
    font-size: small;
  }
  .time.slash{
    display: none;
  }
  .sliderContainer{
    margin: 0;
    flex: 2;
   
  }
  .controls{
    gap: 1.5rem;
    flex:10;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .mainControls{
    transform: scale(.8);
    background-color: rgba( 255, 255, 255, 0.85);
    fill: #b44343;
    width: 2.5rem;
    height: 2.5rem;
  }
  .mainControls>svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  .mainControls.otherControls{
    margin-top: -2%;
  }
  .mainControls:hover{
    background-color: rgba(0, 0, 0, 0.24);
    fill:#a13e3e ;
  }
  .progress{
    background-image: linear-gradient(90deg,#f54ea2,#ff7676);
  }
  .progress::before{
    background-color: #f77e7e;
  }
  .Description{
    display: block;
  }
  .addMusic{
    display: none;
  }
}
@media screen and (max-width:320px) {
  .firstLetter{
    font-size: 1.4rem;
  }
  
  .othersLetters{
    font-size: 1.4rem;
  }
  .rightTopBar>button>svg{
    width: 1.3rem;
    height: 1.3rem;
  }
  .mainControls>svg{
    width: 1.2rem;
    height: 1.2rem;
  }
  .musicName>button>svg{
    width: 1rem;
    height: 1rem;
  }
  .Description.controlsDesc{
    margin-bottom: 10%;
    font-size: small;
  }
  .playListTitle{
   font-size: medium;
  }
  .controls{
    gap: 0.8rem;
  }
  .audioControl{
    gap: 1rem;
  }
  .mainControls.play{
    max-width: 2.1rem;
   max-height: 2.1rem;
  }
  .mainControls{
    max-width: 2.2rem;
    max-height: 2.2rem;
  }
  .mainControls.otherControls{
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
  .time{
    font-size: x-small;
  }
  .musicName>button{
    height: 1.8rem;
    width: 1.8rem;
  }
  .songName,.artistName{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .songName{
    font-size: medium;
  }
  .artistName{
    font-size: small;
  }
  .musicArtistWrapper>div{
    font-size: x-small;
  }
  .musicTitle{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: small;
  }
}